$bg-body: #ffffff;
$color-primary: #272156;
$color-accent: #FF5733;
$color-gray: #505770;
$color-light: #FAF6F3;
$color-dark: #1d1d3b;
$color-body: #272156;

body {
    background: $bg-body;
    color: $color-body;
  }